.contacts-section {
  padding-top: 80px;
  padding-bottom: 78px;
  background-color: var(--color-ebony);
  background-image: url(../img/contacts-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &__container {
    display: flex;
    justify-content: flex-end;
  }

  &__form {
    background-color: var(--color-light);
  }
}

.contacts-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 495px;
  padding: 48px 40px;
  border: 1px solid #e5e8ed;
  box-shadow: var(--main-shadow);
  border-radius: 4px;

  &__title {
    margin: 0;
    margin-bottom: 24px;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    color: var(--color-ebony);
  }

  &__field {
    margin-bottom: 21px;
  }

  &__checkbox {
    margin-bottom: 22px;
  }

  &__btn {
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 12px 32px;
  }

  @include mobile {
    padding: 15px;
  }
}
