.page-hero {
  padding-top: 153px;
  padding-bottom: 80px;
  min-height: 600px;
  background-color: var(--color-athens);
  background-repeat: no-repeat;
  background-position: right -8px center;

  &__breadcrumbs {
    margin-bottom: 40px;
  }

  &__title {
    margin: 0;
    margin-bottom: 24px;
    max-width: 600px;
    font-weight: 700;
    font-size: 72px;
    line-height: 94px;
    letter-spacing: 1px;
    color: var(--color-ebany);
    text-transform: uppercase;

    &--small {
      font-size: 64px;
      line-height: 77px;
      text-transform: initial;
    }

    &--mb {
      margin-bottom: 59px;
    }

    @include mobile {
      font-size: 40px;
      line-height: 54px;
    }
  }

  &__text {
    margin: 0;
    max-width: 600px;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-storm);

    @include mobile {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__meta {
    .article-meta__item {
      font-size: 16px;
      line-height: 26px;

      &:not(:last-child)::after {
        right: -17px;
        height: 16px;
      }

      &:not(:last-child) {
        margin-right: 25px;

        @include mobile {
          margin-right: 22px;
        }
      }
    }

    a.article-meta__item {
      font-weight: 700;
      color: var(--color-primary);
    }

    time.article-meta__item {
      padding-left: 28px;
      background-image: url(../img/time.svg);
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: left center;
    }

    .article-meta__item--comments {
      background-size: 20px 20px;
    }

    @include mobile {
      margin-bottom: 25px;
    }
  }

  &__social {
    svg {
      opacity: 1;
      fill: var(--color-storm);
    }
  }

  &--services {
    background-image: url(../img/services-hero-bg.png);
  }

  &--services-inner {
    background-image: url(../img/services-inner-hero-bg.png);
  }

  &--work {
    background-image: url(../img/work-hero-bg.png);
  }

  &--work-inner {
    background-color: var(--color-light);
    background-image: url(../img/work-inner-hero-bg.png);
    background-position: right -8px top 48px;
  }

  &--about {
    background-image: url(../img/about-hero-bg.png);
  }

  &--positions {
    background-image: url(../img/positions-hero-bg.png);
    background-position: right -10px bottom;
  }

  &--news {
    background-image: url(../img/news-hero-bg.png);
    background-position: right -10px bottom;
  }

  &--post {
    .page-hero__title {
      margin-bottom: 48px;
      max-width: none;
      font-size: 64px;
      line-height: 77px;
      letter-spacing: 1px;
      text-transform: initial;

      @include minitablet {
        font-size: 45px;
        line-height: 58px;
      }

      @include mobile {
        font-size: 35px;
        line-height: 48px;
      }
    }

    @include minidesk {
      margin-bottom: 25px;
    }
  }

  &--contacts {
    background-image: url(../img/contacts-hero-bg.png);
    background-position: right -10px bottom;
  }

  @include tablet {
    min-height: auto;
    background-image: none;
  }
}
