.portfolio-section {
  background-color: var(--color-light);
  padding-bottom: 120px;

  &__title {
    margin: 0;
    padding-bottom: 12px;
    max-width: 710px;

    @include tablet {
      font-size: 40px;
      line-height: 55px;
    }

    @include mobile {
      padding: 0;
      margin-bottom: 25px;
      max-width: none;
      font-size: 28px;
      line-height: 40px;
    }
  }

  &__slider-nav {
    transform: translateX(11px);

    @include mobile {
      justify-content: center;
      transform: none;
    }
  }

  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 48px;

    @include mobile {
      display: block;
      margin-bottom: 25px;
    }
  }

  &__items {
    margin: 0 -30px -21px;
    padding: 14px 30px 100px;
  }

  &__learn {
    margin-top: 1px;
  }

  @include mobile {
    padding-bottom: 40px;
  }
}
