.post {
  &__cover {
    display: block;
    margin-top: -79px;
    width: 100%;
    object-fit: cover;
  }

  &__wrapper {
    max-width: 840px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__share {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-ebony);

    span {
      margin-right: 10px;
    }

    svg {
      opacity: 1;
      fill: var(--color-storm);
    }
  }

  &__content {
    padding-top: 80px;
    padding-bottom: 60px;

    * {
      margin-bottom: 28px;
      font-size: 16px;
      line-height: 26px;
      color: var(--color-gray);

      &:last-child {
        margin-bottom: 0;
      }
    }

    h2 {
      margin: 0;
      margin-bottom: 25px;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: var(--color-ebony);
    }

    h3 {
      margin: 0;
      margin-bottom: 25px;
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      color: var(--color-ebony);
    }

    p {
      margin: 0;
      margin-bottom: 28px;
      font-size: 16px;
      line-height: 26px;
      color: var(--color-gray);
    }

    blockquote {
      margin: 0;
      margin-bottom: 28px;
      padding: 21px 58px;
      padding-right: 5px;
      position: relative;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: var(--color-ebony);

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 21px;
        width: 28px;
        height: 20px;
        background-image: url(../img/braces.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      @include mobile {
        padding: 0;
        padding-top: 50px;
      }
    }

    ul {
      margin: 0;
      margin-bottom: 28px;
      padding: 0;
      list-style: none;
      font-size: 16px;
      line-height: 26px;
      color: var(--color-gray);
    }

    li {
      padding-left: 32px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 4px;
        width: 16px;
        height: 16px;
        background-image: url(../img/check-list.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }
}
