.services-benefits {
  padding-top: 80px;
  padding-bottom: 46px;
  background-color: var(--color-ebony);

  &__title {
    color: var(--color-light);
  }

  &__descr {
    margin: 0;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 27px;
    color: var(--color-storm);
  }

  &__list {
    --mission-gap: 94px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--mission-gap) * 2);
    margin-bottom: 27px;

    @include tablet {
      --mission-gap: 30px;
    }

    @include minitablet {
      --mission-gap: 10px;
    }

    @include mobile {
      display: block;
    }
  }

  &__item {
    position: relative;
    text-align: center;
    padding-top: 72px;
    background-repeat: no-repeat;
    background-size: 48px 48px;
    background-position: top center;

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        right: calc(-1 * var(--mission-gap));
        top: 0;
        width: 1px;
        height: 100%;
        background-image: url(../img/divider.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        @include minitablet {
          display: none;
        }
      }
    }

    &--terms {
      background-image: url(../img/terms.svg);
    }

    &--workers {
      background-image: url(../img/workers.svg);
    }

    &--control {
      background-image: url(../img/control.svg);
    }

    @include mobile {
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-light);
  }

  &__text {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.6);
  }

  &__btn {
    width: 390px;
    transform: translateY(72px);

    @include mobile {
      width: 50%;
    }
  }
}
