.slider-nav {
  position: relative;
  z-index: 15;
  @include flex-v-center;

  &__btn {
    @include flex-all-center;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: var(--color-gray);
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      color: var(--color-light);
      background-color: var(--color-primary);
    }

    svg {
      display: block;
      width: 18px;
      height: 11px;
      object-fit: cover;
      color: inherit;
      fill: currentColor;
    }
  }
}

.slider-nav__btn.swiper-button-disabled {
  opacity: 0.4;
  pointer-events: none;
}
