<section class="about-section section-offset">
  <div class="container">
    <h2 class="title title--center">We are BuildingX Construction Bureau</h2>
    <p class="descr descr--center">
      We are rightfully considered to be the best construction company in the
      USA.
    </p>
    <div class="video-block">
      <button class="video-block__play btn-reset" aria-label="Play Video">
        <svg>
          <use xlink:href="img/sprite.svg#play"></use>
        </svg>
      </button>
      <video class="video-block__content" src="about-video.mp4" muted loop preload="metadata"></video>
    </div>
  </div>
</section>
