<section class="contacts-info">
  <div class="container">
    <h2 class="title title--center">Our offices</h2>
    <p class="descr descr--center">Give us a call, send us a note or visit our office. We can’t wait to hear from you!
    </p>
    <ul class="contacts-info__list list-reset">
      <li class="contacts-info__item">
        <h3 class="contacts-info__subtitle">New York, USA</h3>
        <address class="contacts-info__adress">8502 Preston Rd. Inglewood, New York 98380</address>
        <a class="contacts-info__link" href="#">See on the map</a>
        <div class="contacts-info__bottom">
          <div class="contacts-info__element">
            Call:
            <a class="contacts-info__value" href="tel:4055550128">(405) 555-0128</a>
          </div>
          <div class="contacts-info__element">
            Email:
            <a class="contacts-info__value" href="maito:hello@createx.com">hello@createx.com</a>
          </div>
          <div class="contacts-info__element">
            Schedule:
            <span class="contacts-info__value">Mon - Fri 9:00 - 18:00</span>
          </div>
        </div>
      </li>
      <li class="contacts-info__item">
        <h3 class="contacts-info__subtitle">New Jersey, USA</h3>
        <address class="contacts-info__adress">8502 Preston Rd. Inglewood, New York 98380</address>
        <a class="contacts-info__link" href="#">See on the map</a>
        <div class="contacts-info__bottom">
          <div class="contacts-info__element">
            Call:
            <a class="contacts-info__value" href="tel:4055550128">(405) 555-0128</a>
          </div>
          <div class="contacts-info__element">
            Email:
            <a class="contacts-info__value" href="maito:hello@createx.com">hello@createx.com</a>
          </div>
          <div class="contacts-info__element">
            Schedule:
            <span class="contacts-info__value">Mon - Fri 9:00 - 18:00</span>
          </div>
        </div>
      </li>
      <li class="contacts-info__item">
        <h3 class="contacts-info__subtitle">San Francisco, USA</h3>
        <address class="contacts-info__adress">8502 Preston Rd. Inglewood, New York 98380</address>
        <a class="contacts-info__link" href="#">See on the map</a>
        <div class="contacts-info__bottom">
          <div class="contacts-info__element">
            Call:
            <a class="contacts-info__value" href="tel:4055550128">(405) 555-0128</a>
          </div>
          <div class="contacts-info__element">
            Email:
            <a class="contacts-info__value" href="maito:hello@createx.com">hello@createx.com</a>
          </div>
          <div class="contacts-info__element">
            Schedule:
            <span class="contacts-info__value">Mon - Fri 9:00 - 18:00</span>
          </div>
        </div>
      </li>
    </ul>
    <h2 class="contacts-info__soc title title--center">Find us at</h2>
    <ul class="contacts-info__social social list-reset">
      <li class="social__item">
        <a class="social__link" href="#" target="_blank" aria-label="Whatsapp">
          <svg>
            <use xlink:href="img/sprite.svg#whatsapp"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="#" target="_blank" aria-label="Messenger">
          <svg>
            <use xlink:href="img/sprite.svg#messenger"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="#" target="_blank" aria-label="Facebook">
          <svg>
            <use xlink:href="img/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="#" target="_blank" aria-label="Twitter">
          <svg>
            <use xlink:href="img/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="#" target="_blank" aria-label="YouTube">
          <svg>
            <use xlink:href="img/sprite.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
