<section class="page-hero page-hero--positions">
  <div class="container">
    <ul class="page-hero__breadcrumbs breadcrumbs list-reset">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">About Us</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">Available Positions</a>
      </li>
    </ul>
    <h1 class="page-hero__title">Available Positions</h1>
    <p class="page-hero__text">Build your career with Createx Construction Bureau.</p>
  </div>
</section>
