<section class="page-hero page-hero--post">
  <div class="container">
    <ul class="page-hero__breadcrumbs breadcrumbs list-reset">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">News</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">How to Build Climate Change-Resilient Infrastructure</a>
      </li>
    </ul>
    <h1 class="page-hero__title">How to Build Climate Change-Resilient Infrastructure</h1>
    <div class="page-hero__bottom">
      <div class="page-hero__meta article-meta">
        <a class="article-meta__item" href="#">Industry News</a>
        <time class="article-meta__item" datetime="2023-06-24 20:00">June 24, 2023</time>
        <span class="article-meta__item article-meta__item--comments">4 comments</span>
      </div>
      <ul class="page-hero__social social list-reset">
        <li class="social__item">
          <a class="social__link" href="#" target="_blank" aria-label="Facebook">
            <svg>
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#" target="_blank" aria-label="linked">
            <svg>
              <use xlink:href="img/sprite.svg#linken"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#" target="_blank" aria-label="Twitter">
            <svg>
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
