<section class="history">
  <div class="container">
    <div class="history__top">
      <h2 class="history__title title">Our history</h2>
      <div class="history__slider-nav slider-nav">
        <button class="history__prev slider-nav__btn btn-reset" aria-label="Previous slide">
          <svg>
            <use xlink:href="img/sprite.svg#left-arrow"></use>
          </svg>
        </button>
        <button class="history__next slider-nav__btn btn-reset" aria-label="Next slide">
          <svg>
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="history__content grid">
      <ul class="history-nav list-reset">
        <li class="history-nav__item">
          <button class="history-nav__btn history-nav__btn--active btn-reset">Present</button>
        </li>
        <li class="history-nav__item">
          <button class="history-nav__btn btn-reset">March 2019</button>
        </li>
        <li class="history-nav__item">
          <button class="history-nav__btn btn-reset">November 2018</button>
        </li>
        <li class="history-nav__item">
          <button class="history-nav__btn btn-reset">July 2015</button>
        </li>
        <li class="history-nav__item">
          <button class="history-nav__btn btn-reset">August 2010</button>
        </li>
        <li class="history-nav__item">
          <button class="history-nav__btn btn-reset">February 2007</button>
        </li>
        <li class="history-nav__item">
          <button class="history-nav__btn btn-reset">May 2004</button>
        </li>
        <li class="history-nav__item">
          <button class="history-nav__btn btn-reset">October 2001</button>
        </li>
        <li class="history-nav__item">
          <button class="history-nav__btn btn-reset">June 2000</button>
        </li>
      </ul>
      <div class="history__item history-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img class="history__image" src="img/history-1.jpg" alt="History img">
            <p class="history__descr">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu
              necvitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada
              magnis.Bcelerisque dapibus. Eu nec vitae,</p>
          </div>
          <div class="swiper-slide">
            <img class="history__image" src="img/history-2.jpg" alt="History img">
            <p class="history__descr">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor
              in. Eu
              necvitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada
              magnis.Bcelerisque dapibus. Eu nec vitae,</p>
          </div>
          <div class="swiper-slide">
            <img class="history__image" src="img/history-3.jpg" alt="History img">
            <p class="history__descr">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor
              in. Eu
              necvitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada
              magnis.Bcelerisque dapibus. Eu nec vitae,</p>
          </div>
          <div class="swiper-slide">
            <img class="history__image" src="img/history-4.jpg" alt="History img">
            <p class="history__descr">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor
              in. Eu
              necvitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada
              magnis.Bcelerisque dapibus. Eu nec vitae,</p>
          </div>
          <div class="swiper-slide">
            <img class="history__image" src="img/history-1.jpg" alt="History img">
            <p class="history__descr">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor
              in. Eu
              necvitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada
              magnis.Bcelerisque dapibus. Eu nec vitae,</p>
          </div>
          <div class="swiper-slide">
            <img class="history__image" src="img/history-2.jpg" alt="History img">
            <p class="history__descr">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor
              in. Eu
              necvitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada
              magnis.Bcelerisque dapibus. Eu nec vitae,</p>
          </div>
          <div class="swiper-slide">
            <img class="history__image" src="img/history-3.jpg" alt="History img">
            <p class="history__descr">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor
              in. Eu
              necvitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada
              magnis.Bcelerisque dapibus. Eu nec vitae,</p>
          </div>
          <div class="swiper-slide">
            <img class="history__image" src="img/history-4.jpg" alt="History img">
            <p class="history__descr">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor
              in. Eu
              necvitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada
              magnis.Bcelerisque dapibus. Eu nec vitae,</p>
          </div>
          <div class="swiper-slide">
            <img class="history__image" src="img/history-1.jpg" alt="History img">
            <p class="history__descr">Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor
              in. Eu
              necvitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada
              magnis.Bcelerisque dapibus. Eu nec vitae,</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
