<section class="how-we-do">
  <div class="container">
    <h2 class="how-we-do__title title">That’s how we do it</h2>
    <ul class="how-we-do__list list-reset grid">
      <li class="how-we-do__item">
        <h3 class="how-we-do__subtitle">Work Estimate</h3>
        <p class="how-we-do__text">Culpa nostrud commodo ea consequat aliquip reprehenderit.</p>
      </li>
      <li class="how-we-do__item">
        <h3 class="how-we-do__subtitle">Contract</h3>
        <p class="how-we-do__text">Laoreet ultrices curabitur luctus quisque consequat. Leo lorem velit imperdiet auctor
          et tempor.</p>
      </li>
      <li class="how-we-do__item">
        <h3 class="how-we-do__subtitle">Mobilization</h3>
        <p class="how-we-do__text">Odio massa scelerisque purus arcu sed velit eleifend cursus leo.</p>
      </li>
      <li class="how-we-do__item">
        <h3 class="how-we-do__subtitle">Construction Work</h3>
        <p class="how-we-do__text">Adipisicing esse aliqua aliquip qui amet. Aute eiusmod dolore dolore et ad et veniam
          ad deserunt.</p>
      </li>
    </ul>
  </div>
</section>
