<section class="partners">
  <div class="container">
    <h2 class="title title--center partners__title">
      Supported by 12+ partners
    </h2>
    <ul class="partners__list list-reset">
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-1.png" alt="InDepth Consuling" loading="lazy">
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-2.png" alt="Hegher Fit" loading="lazy">
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-3.png" alt="Sentinal Consulting" loading="lazy">
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-4.png" alt="Happy Home" loading="lazy">
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-5.png" alt="For Sale" loading="lazy">
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link" href="#">
          <img class="partners__logo" src="img/partners/partners-6.png" alt="Sunset Reality" loading="lazy">
        </a>
      </li>
    </ul>
  </div>
</section>
