<section class="portfolio">
  <div class="container">
    <h2 class="visually-hidden">Portfolio</h2>
    <ul class="portfolio-tabs-nav list-reset">
      <li class="portfolio-tabs-nav__item ">
        <button class="portfolio-tabs-nav__btn btn-reset portfolio-tabs-nav__btn--active" data-path="all">
          <svg class="portfolio-tabs-nav__icon">
            <use xlink:href="img/sprite.svg#house"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">All Projects</span>
        </button>
      </li>
      <li class="portfolio-tabs-nav__item">
        <button class="portfolio-tabs-nav__btn btn-reset" data-path="constr">
          <svg class="portfolio-tabs-nav__icon">
            <use xlink:href="img/sprite.svg#construction-services"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">Construction</span>
        </button>
      </li>
      <li class="portfolio-tabs-nav__item">
        <button class="portfolio-tabs-nav__btn btn-reset" data-path="dev">
          <svg class="portfolio-tabs-nav__icon">
            <use xlink:href="img/sprite.svg#project-services"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">Project Development</span>
        </button>
      </li>
      <li class="portfolio-tabs-nav__item">
        <button class="portfolio-tabs-nav__btn btn-reset" data-path="design">
          <svg class="portfolio-tabs-nav__icon">
            <use xlink:href="img/sprite.svg#design-services"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">Interior Design</span>
        </button>
      </li>
      <li class="portfolio-tabs-nav__item">
        <button class="portfolio-tabs-nav__btn btn-reset" data-path="repair">
          <svg class="portfolio-tabs-nav__icon">
            <use xlink:href="img/sprite.svg#repairs-services"></use>
          </svg>
          <span class="portfolio-tabs-nav__text">Repairs</span>
        </button>
      </li>
    </ul>
    <ul class="portfolio-tabs list-reset grid">
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a class="portfolio-item" href="#" data-target="repair">
          <img class="portfolio-item__image" src="img/portfolio-2.jpg" alt="Portfolio cover" loading="lazy">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Cubes Building</h3>
            <span class="portfolio-item__descr">Business Centers</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a class="portfolio-item" href="#" data-target="repair">
          <img class="portfolio-item__image" src="img/portfolio-6.jpg" alt="Portfolio cover" loading="lazy">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Modern Cottage</h3>
            <span class="portfolio-item__descr">Private houses</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a class="portfolio-item" href="#" data-target="dev">
          <img class="portfolio-item__image" src="img/portfolio-7.jpg" alt="Portfolio cover" loading="lazy">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Luxury Beach House</h3>
            <span class="portfolio-item__descr">Private houses</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a class="portfolio-item" href="#" data-target="constr">
          <img class="portfolio-item__image" src="img/related-projects-2.jpg" alt="Portfolio cover" loading="lazy">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Modern Double Bedroom</h3>
            <span class="portfolio-item__descr">Apartments & flats</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a class="portfolio-item" href="#" data-target="design">
          <img class="portfolio-item__image" src="img/related-projects-1.jpg" alt="Portfolio cover" loading="lazy">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Kids Bedroom With Decorations</h3>
            <span class="portfolio-item__descr">Apartments & flats</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a class="portfolio-item" href="#" data-target="constr">
          <img class="portfolio-item__image" src="img/portfolio-3.jpg" alt="Portfolio cover" loading="lazy">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">The Pencil Building</h3>
            <span class="portfolio-item__descr">Stores & Malls</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a class="portfolio-item" href="#" data-target="dev">
          <img class="portfolio-item__image" src="img/portfolio-1.jpg" alt="Portfolio cover" loading="lazy">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Red Finger Building</h3>
            <span class="portfolio-item__descr">Business Centers</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a class="portfolio-item" href="#" data-target="dev">
          <img class="portfolio-item__image" src="img/portfolio-1.jpg" alt="Portfolio cover" loading="lazy">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Red Finger Building</h3>
            <span class="portfolio-item__descr">Business Centers</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a class="portfolio-item" href="#" data-target="dev">
          <img class="portfolio-item__image" src="img/portfolio-1.jpg" alt="Portfolio cover" loading="lazy">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Red Finger Building</h3>
            <span class="portfolio-item__descr">Business Centers</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a class="portfolio-item" href="#" data-target="dev">
          <img class="portfolio-item__image" src="img/portfolio-1.jpg" alt="Portfolio cover" loading="lazy">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Red Finger Building</h3>
            <span class="portfolio-item__descr">Business Centers</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a class="portfolio-item" href="#" data-target="dev">
          <img class="portfolio-item__image" src="img/portfolio-1.jpg" alt="Portfolio cover" loading="lazy">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Red Finger Building</h3>
            <span class="portfolio-item__descr">Business Centers</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a class="portfolio-item" href="#" data-target="dev">
          <img class="portfolio-item__image" src="img/portfolio-1.jpg" alt="Portfolio cover" loading="lazy">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Red Finger Building</h3>
            <span class="portfolio-item__descr">Business Centers</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a class="portfolio-item" href="#" data-target="dev">
          <img class="portfolio-item__image" src="img/portfolio-1.jpg" alt="Portfolio cover" loading="lazy">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Red Finger Building</h3>
            <span class="portfolio-item__descr">Business Centers</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a class="portfolio-item" href="#" data-target="dev">
          <img class="portfolio-item__image" src="img/portfolio-1.jpg" alt="Portfolio cover" loading="lazy">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Red Finger Building</h3>
            <span class="portfolio-item__descr">Business Centers</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a class="portfolio-item" href="#" data-target="dev">
          <img class="portfolio-item__image" src="img/portfolio-1.jpg" alt="Portfolio cover" loading="lazy">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Red Finger Building</h3>
            <span class="portfolio-item__descr">Business Centers</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a class="portfolio-item" href="#" data-target="dev">
          <img class="portfolio-item__image" src="img/portfolio-1.jpg" alt="Portfolio cover" loading="lazy">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Red Finger Building
            </h3>
            <span class="portfolio-item__descr">Business
              Centers</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a class="portfolio-item" href="#" data-target="dev">
          <img class="portfolio-item__image" src="img/portfolio-1.jpg" alt="Portfolio cover" loading="lazy">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Red Finger
              Building</h3>
            <span class="portfolio-item__descr">Business
              Centers</span>
            <div class="portfolio-item__btn">View Project
            </div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a class="portfolio-item" href="#" data-target="dev">
          <img class="portfolio-item__image" src="img/related-projects-3.jpg" alt="Portfolio cover" loading="lazy">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Scandinavian Style Interior</h3>
            <span class="portfolio-item__descr">Private houses</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a class="portfolio-item" href="#" data-target="design">
          <img class="portfolio-item__image" src="img/portfolio-8.jpg" alt="Portfolio cover" loading="lazy">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Brown and Gray Painted House</h3>
            <span class="portfolio-item__descr">Private houses</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
      <li class="portfolio-tabs__item portfolio-tabs__item--visible">
        <a class="portfolio-item" href="#" data-target="design">
          <img class="portfolio-item__image" src="img/portfolio-8.jpg" alt="Portfolio cover" loading="lazy">
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">Brown and Gray Painted House</h3>
            <span class="portfolio-item__descr">Private houses</span>
            <div class="portfolio-item__btn">View Project</div>
          </div>
        </a>
      </li>
    </ul>
    <div class="centered">
      <button class="porfolio-more btn-reset">
        <svg>
          <use xlink:href="img/sprite.svg#load-more"></use>
        </svg>
        Load more
      </button>
    </div>
  </div>
</section>
