<form class="post-form">
  <h2 class="post-form__title title title--center">Leave your comment</h2>
  <div class="post-form__content">
    <label class="post-form__field form-field form-field--gray">
      <span class="form-field__caption">Name*</span>
      <input class="form-field__input" type="text" name="name" placeholder="Your name" required>
    </label>
    <label class="post-form__field form-field form-field--gray">
      <span class="form-field__caption">Email*</span>
      <input class="form-field__input" type="email" name="email" placeholder="Your working email" required>
    </label>
    <label class="post-form__field post-form__field--big form-field form-field--gray">
      <span class="form-field__caption">Your comment*</span>
      <textarea class="form-field__input form-field__input--big" name="message"
        placeholder="Type comment here"></textarea>
    </label>
    <div class="centered">
      <button class="post-form__btn btn btn--fill btn-reset">Post comment</button>
    </div>
  </div>
</form>
