<section class="recent-news">
  <div class="container">
    <h2 class="recent-news__title title title--center">Recent news</h2>
    <ul class="recent-news__list list-reset grid">
      <li class="recent-news__item">
        <article class="news-article news-article--main">
          <img class="news-article__img" src="img/news-article-1.jpg" alt="Man working">
          <div class="news-article__content">
            <h3 class="news-article__title">
              <a class="news-article__link" href="#">How to Build Climate Change-Resilient Infrastructure</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a class="article-meta__item" href="#">Industry News</a>
              <time class="article-meta__item" datetime="2023-06-24 20:00">June 24, 2023</time>
              <span class="article-meta__item article-meta__item--comments">4 comments</span>
            </div>
            <p class="news-article__text">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus.
              Tincidunt aliquet sit vel, venenatis nulla.
              Integer bibendum turpis convallis enim, nibh convallis...</p>
          </div>
        </article>
      </li>
      <li class="recent-news__item news-article--additional">
        <article class="news-article">
          <img class="news-article__img" src="img/news-article-2.jpg" alt="Man working">
          <div class="news-article__content">
            <h3 class="news-article__title">
              <a class="news-article__link" href="#">How Construction Can Help Itself</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a class="article-meta__item" href="#">Innovation</a>
              <time class="article-meta__item" datetime="2023-06-12 20:00">June 12, 2023</time>
              <span class="article-meta__item article-meta__item--comments">No comments</span>
            </div>
            <p class="news-article__text">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus.
              Tincidunt aliquet sit vel, venenatis nulla.
              Integer bibendum turpis convallis enim, nibh convallis...</p>
          </div>
        </article>
      </li>
      <li class="recent-news__item news-article--additional">
        <article class="news-article">
          <img class="news-article__img" src="img/news-article-3.jpg" alt="Man working">
          <div class="news-article__content">
            <h3 class="news-article__title">
              <a class="news-article__link" href="#">Types of Flooring Materials</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a class="article-meta__item" href="#">Company News</a>
              <time class="article-meta__item" datetime="2022-12-1 20:00">December 1, 2022</time>
              <span class="article-meta__item article-meta__item--comments">No comments</span>
            </div>
            <p class="news-article__text">Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus.
              Tincidunt aliquet sit vel, venenatis nulla.
              Integer bibendum turpis convallis enim, nibh convallis...</p>
          </div>
        </article>
      </li>
    </ul>
    <div class=" recent-news__learn learn-more">
      <h4 class="learn-more__subtitle">Explore all our news posts</h4>
      <a class="learn-more__btn btn btn--fill btn-reset" href="#">
        View all news
      </a>
    </div>
  </div>
</section>
