<section class="similar-projects">
  <div class="container">
    <div class="similar-projects__top">
      <h2 class="similar-projects__title title">
        Similar projects
      </h2>
      <div class="similar-projects__slider-nav slider-nav">
        <button class="similar-projects__prev slider-nav__btn btn-reset" aria-label="Previous slide">
          <svg>
            <use xlink:href="img/sprite.svg#left-arrow"></use>
          </svg>
        </button>
        <button class="similar-projects__next slider-nav__btn btn-reset" aria-label="Next slide">
          <svg>
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="similar-projects__items swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a class="portfolio-item" href="#">
            <img class="portfolio-item__image" src="img/portfolio-7.jpg" alt="Portfolio cover">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Luxury Beach House</h3>
              <span class="portfolio-item__descr">Private Houses</span>
              <div class="portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="portfolio-item" href="#">
            <img class="portfolio-item__image" src="img/portfolio-8.jpg" alt="Portfolio cover">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Brown and Gray Painted House</h3>
              <span class="portfolio-item__descr">Private Houses</span>
              <div class="portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="portfolio-item" href="#">
            <img class="portfolio-item__image" src="img/related-projects-3.jpg" alt="Portfolio cover">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Scandinavian Style Interior</h3>
              <span class="portfolio-item__descr">Private houses</span>
              <div class="portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="portfolio-item" href="#">
            <img class="portfolio-item__image" src="img/related-projects-1.jpg" alt="Portfolio cover">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Kids Bedroom With Decorations</h3>
              <span class="portfolio-item__descr">Apartments & flats</span>
              <div class="portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a class="portfolio-item" href="#">
            <img class="portfolio-item__image" src="img/related-projects-2.jpg" alt="Portfolio cover">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Modern Double Bedroom</h3>
              <span class="portfolio-item__descr">Apartments & flats</span>
              <div class="portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="similar-projects__learn learn-more">
      <h4 class="learn-more__subtitle">Explore all our works</h4>
      <a class="learn-more__btn btn btn--fill btn-reset" href="#">
        View portfolio
      </a>
    </div>
  </div>
</section>
