<section class="testimonials">
  <div class="testimonials__container container">
    <div class="testimonials__content">
      <h2 class="testimonials__title title">What our clients are saying</h2>
      <div class="testimonials__items swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonials-item">
              <div class="testimonials-item__image">
                <img
                  src="img/testimonials-author-1.jpg"
                  alt="Jeanine Klotkowski"
                />
              </div>
              <p class="testimonials-item__descr">
                “Our company has been doing business with BuildingX for some
                time — I have only been partnered with them recently and it’s a
                pleasure and honor to work with these individuals. I have found
                them to be very knowledgeable, professional, extremely
                organized, and they do business with the utmost integrity; I
                would highly recommend them.”
              </p>
              <span class="testimonials-item__author">Jeanine Klotkowski</span>
              <span class="testimonials-item__author-position">Happy Home</span>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials-item">
              <div class="testimonials-item__image">
                <img src="img/testimonials-author-2.jpg" alt="Chip Johnson" />
              </div>
              <p class="testimonials-item__descr">
                “I have had the privilege to work with John and BuildingX for
                the last few years now. As a subcontractor it is nice to know
                when you arrive to a job site knowing the place is ready for you
                and everything is done correctly. There are no shortcuts taken
                and all work is completed to the highest standard. I recommend
                BuildingX for all my customers that are in need of a general
                contractor.”
              </p>
              <span class="testimonials-item__author">Chip Johnson</span>
              <span class="testimonials-item__author-position"
                >Sentinal Consulting</span
              >
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials-item">
              <div class="testimonials-item__image">
                <img src="img/testimonials-author-3.jpg" alt="Chris Conrad" />
              </div>
              <p class="testimonials-item__descr">
                “Great remodel experience. John and Derrick communicate and
                manage the project with skill and care. I’d recommend Blue
                Ribbon to friends for a job well done
              </p>
              <span class="testimonials-item__author">Chris Conrad</span>
              <span class="testimonials-item__author-position"
                >InDepth Consuling</span
              >
            </div>
          </div>
        </div>
        <div class="testimonials__slider-nav slider-nav">
          <button
            class="testimonials__prev slider-nav__btn btn-reset"
            aria-label="Previous slide"
          >
            <svg>
              <use xlink:href="img/sprite.svg#left-arrow"></use>
            </svg>
          </button>
          <button
            class="testimonials__next slider-nav__btn btn-reset"
            aria-label="Next slide"
          >
            <svg>
              <use xlink:href="img/sprite.svg#right-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <img
      class="testimonials__image"
      src="img/testimonials-img.jpg"
      alt=""
      aria-hidden="true"
    />
  </div>
</section>
